<!DOCTYPE html>
<html lang="en">
<head>

{{ partial "header.html" . }}

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{partial "navbar.html" . }}
		
<div class="body_block_1">
	<div class="container">
		<div class="row" style="padding-top: 2em;">
			<ul>
				{{ range where .Data.Pages "Section" "news" }}
					{{ .Render "li" }}
				{{ end }}
			</ul>	
	    </div>
	</div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
