

<div class="header">
	<div class="container">
	    <div class="row" style="margin-top: 3em; margin-bottom: .5em">
		    <div class="twelve columns">
		    	<div class="center">
		    		<div class="wide">
		    			<span class="title">Gravish&middot;lab</span>	
		    		</div>
		    		<div class="narrow">
		    			<span class="title">Gravish</span>
		    			<br />
		    			<span class="title dot">&middot;</span>
		    			<br />
		    			<span class="title" style="line-height: 20px">lab</span>	
		    		</div>
			    	
			    </div>
		<div class="row" style = "margin-top: .0em; margin-bottom: 1.5em">	
			<div class="two columns"><br /></div>
			<div class="two columns">
			<img src="/images/bee.svg" style="width:100%" class="wide">
			<!-- <p class="center">Locomotion</p> -->
			</div>
			<div class="two columns">
			<img src="/images/ant.svg" style="width:100%" class="wide">
			<!-- <p class="center">Manipulation</p> -->
			</div>
			<div class="two columns">
			<img src="/images/scm.svg" style="width:100%" class="wide">
			<!-- <p class="center">Fabrication</p> -->
			</div>
			<div class="two columns">
			<img src="/images/mechanisms.svg" style="width:100%" class="wide">
			<!-- <p class="center">Microrobotics</p> -->
			</div>
			<div class="two columns"></div>
			<div class="two columns"><br /></div>
		</div>
		    	<div class="subtitle center">The science & engineering of <br /> dynamic & dexterous movement</div>
				<div class="branding center">Mechanical & Aerospace Engineering, UC San Diego</div>
			</div>
		</div>

	</div>
	<div class="center">
	<div class="navbar-spacer"></div>
		<div class="container">
			<div class="container">
			    <nav class="navbar">
					<ul class="navbar-list" style="margin-bottom: 1em">
						<li class="navbar-item"><a class="navbar-link" href="/index.html">Home</a></li>
						<li class="navbar-item"><a class="navbar-link" href="/about/">About</a></li>
						<!-- <li class="navbar-item"><a class="navbar-link" href="/openings/">Openings</a></li> -->
						<li class="navbar-item"><a class="navbar-link" href="/teaching/">Teaching</a></li>
						<li class="navbar-item"><a class="navbar-link" href="/news/">News</a></li>
						<li class="navbar-item"><a class="navbar-link" href="/research/">Research</a></li>
						<li class="navbar-item"><a class="navbar-link" href="/people/">People</a></li>
						<!-- <li class="navbar-item"><a class="navbar-link" href="/resources/">Resources</a></li> -->
						<li class="navbar-item"><a class="navbar-link" href="/publications/">Publications</a></li>
						<!-- <li class="navbar-item"><a class="navbar-link" href="/contact/">Contact</a></li> -->
					</ul>	
				</nav>
			</div>
		</div>
	</div>
	
</div>
