
<!DOCTYPE html>
<html lang="en">
<head>

{{ partial "header.html" . }}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{{partial "navbar.html" . }}
		
	<div class="body_block_1">
		<div class="container">
			<div class="row" style="padding-top: 2em;">
			  <div class="one-half column">
					<h2 class="blue center">Research</h2>
					<p>We aim to further the scientific understanding of movement and manipulation in biological systems; and to apply this knowledge towards new engineering paradigms in robot design, fabrication, and control. To accomplish this we work at the intersections of robotics, physics, and biology. We value intellectual diversity, thinking outside the box, and outright curiosity. We are a team, and while individual advancements may be made, they are fostered in a collaborative environment where we challenge and support each other.</p>
		      </div>

		      <div class="one-half column">
					<h2 class="yellow center">News</h2>
					<ul>
						{{ range where .Data.Pages "Section" "news" }}
							{{ .Render "li" }}
						{{ end }}
					</ul>	
		      </div>
		    </div>
		</div>
	</div>

	<div>
		<div class="container">
		    <div class="row" style="margin-top: 2em;">
			  <div class="one-half column">
					<h2 class="black center">Values</h3>
					<p>We aim to further the scientific understanding of movement and manipulation in biological systems; and to apply this knowledge towards new engineering paradigms in robot design, fabrication, and control. To accomplish this we work at the intersections of robotics, physics, and biology. We value intellectual diversity, thinking outside the box, and outright curiosity. We are a team, and while individual advancements may be made, they are fostered in a collaborative environment where we challenge and support each other.</p>
		      </div>

		      <div class="one-half column">
					<h2 class="red center">Recent papers</h2>
					<ul>
						<li>Prof. Gravish will be giving a talk at UC Riverside next on Halloween.</li>
						<li>Looking forward to seeing the San Diego robotics community come together at the contextual robotics forum next Friday (XX)</li>	
						<li>The Gravish lab has opened at UC San Diego in the MAE department.</li>
					</ul>	
		      </div>
			</div>
		</div>
	</div>

	<div class="body_block_1">
		<div class="container">
			<div class="row" style="padding-top: 2em; margin-top: 2em;">
			  <div class="one-half column">
					<h2 class="blue center">Mission statement</h2>
					<p>We aim to further the scientific understanding of movement and manipulation in biological systems; and to apply this knowledge towards new engineering paradigms in robot design, fabrication, and control. To accomplish this we work at the intersections of robotics, physics, and biology. We value intellectual diversity, thinking outside the box, and outright curiosity. We are a team, and while individual advancements may be made, they are fostered in a collaborative environment where we challenge and support each other.</p>
		      </div>

		      <div class="one-half column">
					<h2 class="yellow center">News</h2>
					<ul>
						<li>Prof. Gravish will be giving a talk at UC Riverside next on Halloween.</li>
						<li>Looking forward to seeing the San Diego robotics community come together at the contextual robotics forum next Friday (XX)</li>	
						<li>The Gravish lab has opened at UC San Diego in the MAE department.</li>
					</ul>	
		      </div>
		    </div>
		</div>
	</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

