

<span style="font-weight: 600">{{ .Title }}.</span>

{{ $num_authors := (len .Params.authors) }}
{{ range $index, $key := .Params.authors }} 
	{{ . }}{{ if lt (add $index 1) $num_authors}},{{ else }}.{{ end }}
{{ end }}

<em>{{if .Params.publication }}{{ .Params.publication}}.{{ end }}</em> {{ .Date.Year }}. 

{{ if .Params.state }}
&nbsp&nbsp (<b>{{.Params.State}}</b>).
{{ end }}

<span> &nbsp&nbsp&nbsp&nbsp&nbsp</span>

{{ if eq .Params.paper_type "Journal" }}
<span class="journal">{{ .Params.paper_type}}</span>
{{ end}}

{{ if eq .Params.paper_type "Conference" }}
<span class="conference">{{ .Params.paper_type}}</span>
{{ end}}

{{ if eq .Params.paper_type "Book chapter" }}
<span class="book_chapter">{{ .Params.paper_type}}</span>
{{ end}}


<span> &nbsp&nbsp</span>

{{ if .Params.pdf }}
<span>PDF:<span>&nbsp&nbsp</span><a href="/PDF/{{ .Params.pdf }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> </span>
{{ end }}
<span> &nbsp&nbsp&nbsp&nbsp&nbsp</span>
<!-- <a><i class="ai ai-google-scholar ai-1x"></i></a> -->
<span> &nbsp&nbsp&nbsp&nbsp&nbsp</span>

{{ if .Params.supplementary }}
SUPPLEMENTARY: <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
{{ end }}

<span> &nbsp&nbsp&nbsp&nbsp&nbsp</span>
{{ if .Params.links }}
Links: 
{{ end }}

<br />
	