
{{ partial "header.html" . }}
{{partial "navbar.html" . }}

<div class="container">
<!-- <div class="container"> -->
  <div class="row" style="padding-top: 2em;">
    {{ range $index, $element := .Data.Pages.GroupByParam "level" "desc"}}
    {{ if eq (eq $index 0) false}}
        <h3 class="center"> {{(index .Pages 0).Title }} </h3>
      {{ end }}

    {{ range .Pages }}
      
      <div class="row" style="margin-bottom: 2em;">
      <div class="one columns"> 
      </div> 
        <div class="four columns">  
            <h5 style="margin-bottom: 0em">{{ .Params.name }}</h5>
            <p style="margin-bottom: 0em">{{ .Params.email }}</p>
            {{ if .Params.cv }}
            <span class="p" style="margin-bottom: 0em">CV: &nbsp;</span>
			<a href="/PDF/{{ .Params.cv }}" style="margin-bottom: 0em">
				<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				<br >
            {{ end }}

            {{ if .Params.website }}
            <span class="p" style="margin-bottom: 0em">WEB: &nbsp;</span><a href="{{ .Params.website }}" style="margin-bottom: 0em">
				<i class="fa fa-link" aria-hidden="true"></i></a>
				<br >
            {{ end }}

            {{ if .Params.image }}
            <img src="/images/{{ .Params.image }}" style="width: 80%; margin-top: 1em">
            {{ end }}
        </div>
        <div class="seven columns tight">
          {{ .Content }}
        </div>
      </div>
      
      {{ if eq $index 0 }}
      <div class="container">
        <hr style="border-top:dashed 1px #333;" />
      </div>
      {{ end }}
      {{ end }}
    {{ end }} 

  </div>
<!-- </div> -->
  
</div>

{{ partial "footer.html" . }}

