
{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
	
	
	{{ $num_papes := len .Data.Pages }}
	{{ $.Scratch.Add "count" 0 }}
	

	{{ range $index, $key := .Data.Pages.GroupByDate "2006" "desc" }}
		<div class="row">
			  <h5 class="center">{{ .Key }}</h5>
		</div>
	    {{ range sort .Pages.ByWeight }}
	    <div class="row">
			<div class="one column">
			<br />
			</div>
			<div class="eight columns">
				{{ sub $num_papes ($.Scratch.Get "count") }} . {{ .Render "view_pubs" }}
				{{ $.Scratch.Add "count" 1 }}
		    </div>
			<div class="two columns">
			{{ if .Params.img }}
				<img src="/cover_images/{{ .Params.img }}" style="width:70%">
			{{ end }}
			</div>
		</div>
		<br />
		{{ end }}
	     
	{{ end }}
  
</div>

{{ partial "footer.html" }}